.DS_Store
node_modules/
/dist/
/buyFruits/
/HelloWorld/
/TodoList/
/TodoList3123123/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
